/jmde/csurf/Debug
/jmde/Debug/Plugins
/jmde/csurf/*.ncb
/jmde/csurf/*.suo
Plugins
Release
/jmde/csurf/UpgradeLog.XML
_UpgradeReport_Files
/jmde/csurf/*.opensdf
/jmde/csurf/x64/Debug/reaper_c*tlog
/jmde/csurf/x64/Debug/*.log
/jmde/csurf/x64/Debug/*.res
/jmde/csurf/x32/Debug/reaper_c*tlog
/jmde/csurf/x32/Debug/*.log
/jmde/csurf/x32/Debug/*.res
/jmde/csurf/Win32/Debug/reaper_c*tlog
/jmde/csurf/Win32/Debug/*.log
/jmde/csurf/Win32/Debug/*.res
/jmde/csurf/reaper_csurf.sdf
/studioscrapnsound/csurf/Debug/reaper_csurf_lcxl/.dll
/studioscrapnsound/csurf/Debug/reaper_csurf_mf8/.dll
/studioscrapnsound/csurf/Debug
/studioscrapnsound/csurf/x64/Debug
/studioscrapnsound/csurf/x32/Debug
/studioscrapnsound/csurf/Win32/Debug
/studioscrapnsound/csurf/reaper_csurf.opensdf
/studioscrapnsound/csurf/reaper_csurf.sdf
/studioscrapnsound/csurf/reaper_csurf.v12.suo
Thumbs.db
